<div class="page-header">
  <h1>Bird info <small> by Dan Miller</small></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>This is an Internet of Things monitoring solution, running on a beaglebone. Using Angular 2 with Bootstrap on the frontend, and Express, RabbitMQ, and MySQL on the backend.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="https://angular.io/resources/images/logos/angular2/angular.svg" alt="Angular 2">
        <div class="caption">
          <h3>Angular 2</h3>
          <p>Angular 2 is the front-end framework used to display information about and interact with the IoT devices. Chosen to give me a chance to try to figure it out.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt="NodeJS">
        <div class="caption">
          <h3>Node</h3>
          <p>NodeJS with Express is used on the backend to serve up web pages and moderate interactions between the IoT devices and the database. Chosen for its enormous support and user base, making it fast to integrate with other frameworks.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="https://pbs.twimg.com/profile_images/458784318152646656/AIpwtLzz_400x400.png" alt="BeagleBone">
        <div class="caption">
          <h3>BeagleBone</h3>
          <p>A BeagleBone Black is used to host the server, as a cheap and effective solution for a low-capacity network</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="https://aphyr.com/data/posts/315/RabbitMQ.sh-600x600.png" alt="RabbitMQ">
        <div class="caption">
          <h3>RabbitMQ</h3>
          <p>RabbitMQ is used to manage lightweight communication between the IoT devices and the server or other devices. The open-source support for MQTT and Websockets were the main attractions of this framework.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="https://www.mysql.com/common/logos/powered-by-mysql-167x86.png" alt="MySQL">
        <div class="caption">
          <h3>MySQL</h3>
          <p>MySQL to manage persistent data storage. Chosen for familiar SQL interface and easy configuraton.</p>
        </div>
      </div>
    </div>
  </div>
</div>