
<h2>TweedleDee's Temperature <small>Shift-click to pan, double-click to zoom out</small></h2>

<table class="table">
	<tbody>
		<tr>
			<td>­Minimum night temp</td>
			<td>­Ideal Minimum daytime temp</td>
			<td>­Ideal max temp</td>
			<td>­Hard max temp</td>
		</tr>
		<tr>
			<td>­4.4 °C</td>
			<td>­15.6 °C</td>
			<td>­21.1 °C</td>
			<td>­29.4 °C</td>
		</tr>
	</tbody>
</table>


<dygraph [title]="graphTitle" [data]="tempData" [maximumSpace]="maxDataGap" (onZoom)="graphZoomed($event)"></dygraph>
